/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
header {
  background-color: black;
  color: #fff;
  padding: 10px;
  text-align: center;
}
